.container {
  background: url('../../assets/img.png');
  height: 100vh;
  width: 100vw;
}

.container1 {
  flex-direction: row;
  align-items: center;
  display: flex;
  justify-content: flex-start;
}

.endItems {
  display: flex;
  justify-content: flex-end;
}

.main {
  margin-right: 22px;
  margin-left: 22px;
}

.btn {
  background-color: black;
  color: white;
  border-radius: 35px;
  flex-direction: row;
  align-items: center;
  display: flex;
  justify-content: center;
  height: 35px;
  font-weight: bold;
}
.btn:hover {
  text-decoration: none;
  background-color: #ffcf58;
  color: white;
  transition: all 1s;
}

.header {
  font-size: 3.5em;
  font-weight: bold;
  text-align: center;
  margin-top: 135px;
}

.txt {
  font-size: 1.5em;
  margin-top: 32px;
  text-align: center;
  font-weight: bold;
}

.btnStart {
  justify-content: center;
  align-items: center;
  display: flex;
}
.btn1 {
  justify-content: center;
  align-items: center;
  display: flex;
}

.btnTex {
  background-color: #ffcf58;
  /* padding: 10px; */
  border-radius: 35px;
  font-weight: bold;
  width: 120px;
  flex-direction: row;
  align-items: center;
  display: flex;
  justify-content: center;
  height: 35px;
}

/*  */

.input {
  background-color: white;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 14px;
  padding: 22px;
  margin-right: 22px;
  width: 40vw;
  border: none;
}

.elem {
  font-size: 1.2em;
  font-weight: bold;
  color: black;
  text-align: left;
}
